<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <title>浦东发展银行信用卡</title>
    <link href="../build/css/main.css" rel="stylesheet">
    <link href="../build/css/test.css" rel="stylesheet">
</head>

<body>
    <div style="margin-top: 1rem;width: 100%">
        <div style="width:100%;height:2.6rem;vertical-align: middle;margin-top:0.5rem;margin-bottom:1rem">
            <h1 style="font-size: 1.5rem;width: 100%;color: #FFF;font-weight: bold;position: absolute;width: 13rem;left: 50%;margin-left: -6rem; top: 0rem;  margin-top:1.2rem; textAlign: center">我的流量“银行”</h1>
        </div>
        <p style="font-size:1.5rem;text-align:center;">系统玩命加载中，请您稍后再试</p>
    </div>


</body>
<script src='../build/js/main/main.js'>
</script>
<script src='../build/js/test/test.js'>
</script>
<script src='../build/script/home.js'>
</script>

</html>